:root {
    --black: rgba(60, 60, 60, 1);
}


body, html {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Cal Sans;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 220, 220);
    color: var(--black);
}

button {
    all: unset;
    background-color: white;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 16px;
    transition: all 0.1s ease-in-out;
    user-select: none;
}
button:hover {
    background-color: var(--black);
    color: white;
}
button:active {
    background-color: gray;
}

#copied-alert {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -320px);
    padding: 1rem 2rem;
    background-color: var(--black);
    color: white;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

#password {
    user-select: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
